<!-- Confirm Dialog -->
<p-confirmDialog header="Confirmation" icon="fa ui-icon-warning" width="425"></p-confirmDialog>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>{{title}}</h1>
            <p-tabView [activeIndex]="active_index_tabview" (onChange)="changeTabPanel($event)">
                <!-- Messages -->
                <!--<p-messages [value]="msgs"></p-messages>-->
                <p-growl [(value)]="msgs"></p-growl>
                <p-tabPanel header="List" leftIcon="ui-icon-check">
                    <!-- Filter -->
                    <p-fieldset legend="Filter" toggleable="true">
                        <div class="ui-g form-group">
                            <div class="ui-g-4 ui-md-4">
                  <span class="md-inputfield">
                      <input type="text" pInputText>
                      <label>First Name</label>
                  </span>
                            </div>
                            <div class="ui-g-4 ui-md-4">
                  <span class="md-inputfield">
                      <input type="text" pInputText>
                      <label>Last Name</label>
                  </span>
                            </div>
                            <div class="ui-g-4 ui-md-4">
                  <span class="md-inputfield">
                      <input type="text" pInputText>
                      <label>Phone</label>
                  </span>
                            </div>
                        </div>
                        <div class="ui-g form-group">
                            <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield">
                      <input type="text" pInputText>
                      <label>Company</label>
                  </span>
                            </div>
                            <div class="ui-g-12 ui-md-4">
                  <span class="md-inputfield">
                      <p-calendar [showIcon]="true" dateFormat="yy/mm/dd"></p-calendar>
                      <label>Birthday</label>
                  </span>
                            </div>
                        </div>
                        <div class="ui-g form-group">
                            <div class="ui-g-12">
                                <button type="button" label="Filter" pButton icon="ui-icon-search"
                                        class="cyan-btn"></button>
                            </div>
                        </div>
                    </p-fieldset>
                    <br>
                    <!-- Toolbar -->
                    <p-toolbar>
                        <div class="ui-toolbar-group-left">
                            <button (click)="actionCrud('ADD')" pButton type="button" label="New" icon="ui-icon-add"
                                    class="green-btn"></button>
                            <button (click)="actionCrud('EDIT')" pButton type="button" label="Edit"
                                    icon="ui-icon-edit"
                                    class="orange-btn"></button>
                            <button (click)="actionCrud('DELETE')" pButton type="button" label="Delete"
                                    icon="ui-icon-delete"
                                    class="pink-btn"></button>
                        </div>
                    </p-toolbar>
                    <p-dataTable [value]="customers"
                                 selectionMode="single"

                                 [paginator]="true"
                                 [rows]="10"
                                 [responsive]="true"
                                 [resizableColumns]="true"
                                 (onRowSelect)="onRowSelect($event)">
                        <p-header> List of {{title}}</p-header>
                        <p-footer>There are {{customers.length}} {{title}}</p-footer>
                        <p-column field="first_name" header="First Name" [sortable]="true"></p-column>
                        <p-column field="last_name" header="Last Name" [sortable]="true"></p-column>
                        <p-column field="phone" header="Phone" [sortable]="true"></p-column>
                        <p-column field="company" header="Company" [sortable]="true"></p-column>
                        <p-column field="email" header="Email" [sortable]="true"></p-column>
                        <p-column field="birthday" header="Birthday" [sortable]="true"></p-column>
                        <p-column field="street_address_line_1" header="Address" [sortable]="true"></p-column>
                    </p-dataTable>
                </p-tabPanel>
                <p-tabPanel header="Add/Edit" leftIcon="ui-icon-edit">
                    <!-- Form -->
                    <form [formGroup]="oneFormGroup" novalidate>
                        <div class="ui-g form-group">
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                              <input formControlName="first_name" type="text" pInputText>
                              <label style="color: rgba(255, 0, 0, 0.46)">First Name </label>
                          </span>
                            </div>
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                              <input formControlName="last_name" type="text" pInputText>
                              <label>Last Name *</label>
                          </span>
                            </div>
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                              <input formControlName="phone" type="text" pInputText>
                              <label>Phone</label>
                          </span>
                            </div>
                        </div>
                        <div class="ui-g form-group">
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                              <input formControlName="company" type="text" pInputText>
                              <label>Company</label>
                          </span>
                            </div>
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                              <input formControlName="email" type="text" pInputText>
                              <label>Email</label>
                          </span>
                            </div>
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                              <input formControlName="city" type="text" pInputText>
                              <label>City</label>
                          </span>
                            </div>

                        </div>
                        <div class="ui-g form-group">
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                              <input formControlName="street_address_line_2" type="text" pInputText>
                              <label>Street Address Line 2</label>
                          </span>
                            </div>
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                              <input formControlName="street_address_line_3" type="text" pInputText>
                              <label>Street Address Line 3</label>
                          </span>
                            </div>
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                              <input formControlName="street_address_line_1" type="text" pInputText>
                              <label>Street Address Line 1</label>
                          </span>
                            </div>
                        </div>
                        <div class="ui-g form-group">
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                              <input formControlName="state" type="text" pInputText>
                              <label>State</label>
                          </span>
                            </div>
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                              <input formControlName="zip" type="text" pInputText>
                              <label>Zip</label>
                          </span>
                            </div>
                            <div class="ui-g-4 ui-md-4">
                          <span class="md-inputfield">
                               <!--<p-calendar [(ngModel)]="date2" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>-->
                              <p-calendar formControlName="birthday" dateFormat="yy-mm-dd"
                                          showIcon="true"></p-calendar>
                              <label>Birthday</label>
                          </span>
                            </div>
                        </div>
                        <div class="ui-g form-group">
                            <div class="ui-g-4 ui-md-4">
                            <textarea formControlName="note" [rows]="5" [cols]="110" pInputTextarea placeholder="Note"
                                      autoResize="autoResize"></textarea>
                            </div>
                        </div>
                        <div class="ui-g form-group">
                            <div class="ui-g-12">
                                <button (click)="addOne()" [disabled]="!oneFormGroup.valid" *ngIf="!isEdit"
                                        type="button" label="Add" pButton icon="ui-icon-plus"
                                        class="green-btn"></button>
                                <button (click)="clearOne()" type="button" label="Clear" *ngIf="!isEdit" pButton
                                        icon="ui-icon-clear"></button>
                                <button (click)="updateOne()" [disabled]="!oneFormGroup.valid" *ngIf="isEdit" type="button" label="Update" pButton icon="ui-icon-update"
                                        class="orange-btn"></button>
                                <button (click)="displayEditBtn(false)" type="button" label="Cancel" *ngIf="isEdit" pButton icon="ui-icon-cancel"></button>
                            </div>
                        </div>
                    </form>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>