<div class="layout-wrapper" [ngClass]="{'layout-compact':layoutCompact}">

    <div #layoutContainer class="layout-container" 
            [ngClass]="{'menu-layout-static': !isOverlay() && isNotRouteLogin(),
            'menu-layout-overlay': isOverlay() && isNotRouteLogin(),
            'layout-menu-overlay-active': overlayMenuActive && isNotRouteLogin(),
            'menu-layout-horizontal': isHorizontal() && isNotRouteLogin(),
            'layout-menu-static-inactive': staticMenuDesktopInactive && isNotRouteLogin(),
            'layout-menu-static-active': staticMenuMobileActive && isNotRouteLogin()}">

        <app-topbar *ngIf="isNotRouteLogin()"></app-topbar>

        <div *ngIf="isNotRouteLogin()" class="layout-menu" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
            <div #layoutMenuScroller class="nano">
                <div class="nano-content menu-scroll-content">
                    <inline-profile *ngIf="profileMode=='inline'&&!isHorizontal()"></inline-profile>
                    <app-menu [reset]="resetMenu"></app-menu>
                </div>
            </div>
        </div>
        
        <div class="layout-main">
            <router-outlet></router-outlet>
            
            <app-footer *ngIf="isNotRouteLogin()"></app-footer>
        </div>
        
        <div class="layout-mask"></div>
    </div>

</div>